<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<a href="/user/new">Create new user</a> | <a href="/user/list">Go to user list</a>

<br/>
<br/>

<u>

    <!-- Template para lista sempre desta forma -->
    {% for user in user_list %}

    <li>
        {{user}} | <a href="/user/{{user.id}}/detail">View</a> | <a href="/user/{{user.id}}/update">Edit</a> | <a href="/user/{{user.id}}/delete">Delete</a> 
    </li>

    <!-- Template para lista sempre desta forma -->
    {% endfor %}

</u>
    
</body>
</html>