<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<a href="/user/list">Go to user list</a>

<br/>
<br/>

    <form method="post">

        <!-- Token para adicionar no DB -->
        {% csrf_token %}

        <!-- Formulario do DB -->
        <h1>Deseja apagar o: {{object.username}}?</h1>

        <!-- Botão para enviar o formulario -->
        <input type="submit" value="Delete">

    </form>

    
</body>
</html>